<!DOCTYPE>
<html>
<head>
    <title>Sandhill: It Works!</title>
</head>
<body>
    <h1>Welcome to Sandhill!</h1>
    <p>
        You're running Sandhill! For help getting started with development,
        please refer to the official Sandhill documentation and examples:
    </p>
    <ul>
        <li>TODO Official documentation link</li>
        <li>TODO Example of creating pages</li>
        <li>TODO Example instance directory</li>
    <ul>
</body>
</html>
