<!DOCTYPE>
<html>
<head>
    <title>Sandhill: It Works!</title>
</head>
<body>
    <h1>Welcome to Sandhill!</h1>
    <p>
        You're running Sandhill! For help getting started with development,
        please refer to the official Sandhill documentation and examples:
    </p>
    <ul>
        <li><a href="https://gitlab.msu.edu/msu-libraries/repo-team/sandhill/-/blob/master/README.md">Official documentation link</a></li>
        <li><a href="https://gitlab.msu.edu/msu-libraries/repo-team/sandhill/-/blob/master/INSTANCE_SETUP.md">Instructions for creating your own pages with the instance directory</a></li>
    <ul>
</body>
</html>
