<!DOCTYPE>
<html>
<head>
    <title>Sandhill: It Works!</title>
</head>
<body>
    <h1>Welcome to Sandhill!</h1>
    <h2>It Works!</h2>
    <p>
        You're running Sandhill! For help getting started with developing your application
        please refer to the official Sandhill documentation and examples:
    </p>
    <ul>
        <li><a href="https://github.com/MSU-Libraries/sandhill/blob/master/docs/INSTANCE_SETUP.md">Configuring Sandhill</a></li>
        <li><a href="https://github.com/MSU-Libraries/sandhill/blob/master/docs/DEV_GUIDE.md">Development within your Sandhill Application</a></li>
        <li><a href="https://github.com/MSU-Libraries/sandhill/blob/master/docs/SERVICE_SETUP.md">Running Sandhill as a Service</a></li>
        <li><a href="https://github.com/MSU-Libraries/sandhill/blob/master/CONTRIBUTING.md">Contributing to Sandhill</a></li>
    </ul>
    <p>
        If you have further questions or comment, please reach out to the development
        team at <a href="mailto:LIB.DL.repoteam@msu.edu">LIB.DL.repoteam@msu.edu</a>.
    </p>
</body>
</html>
