{% extends 'base.html.j2' %}

{% block title %}
    {{ item[metadata_conf.title_field] }}
{% endblock %}

{% block content %}
    {# title of the page #}
    <h1>{{ item[metadata_conf['title_field']] }}</h1>

    {# include the viewer section of the page  #}
    {% if metadata_conf['media_template'] %}
        {% include metadata_conf['media_template'] %}
    {% endif %}

    {# include the downloads section of the page  #}
    {% if metadata_conf['downloads'] %}
        {% include 'item_page_blocks/downloads_box.html.j2' %}
    {% endif %}

    {# include the metadata section of the page  #}
    {% for display_conf in metadata_conf['display'] %}
        {% if item[display_conf['field']] %}
            {% include display_conf['metadata_template'] %}
        {% endif %}
    {% endfor %}
{% endblock %}
