<div class="text-center">
    <a href="{{ item['PID'] | generate_fedcom_url }}" ><img class="border rounded" src="{{ item['PID'] | generate_fedcom_url("PREVIEW") }}" class="img-fluid" alt="{{ item[metadata_conf['title_field']] }}"/></a>
</div>

