axe-selenium-python~=2.1.6
click~=8.1.7
coverage~=7.6.1
deepdiff~=7.0.1
Flask~=2.2.5
Flask-DebugToolbar~=0.14.1
Jinja2~=3.1.2
jsonpath-ng~=1.6.0
lxml~=5.3.0
mkdocs~=1.6.0
mkdocs-autorefs~=1.0.0
mkdocs-material~=9.5.0
mkdocstrings~=0.25.0
mkdocstrings-python~=1.10.0
mkdocstrings-python-legacy~=0.2.0
pylint~=3.2.6
pytest~=8.3.2
pytest-cov~=3.0.0
pytest-xdist~=3.6.1
python-dotenv~=1.0.1
requests~=2.32.3
requests-futures~=1.0.1
selenium~=4.23.1
urllib3~=2.2.2
uWSGI~=2.0.26
validator-collection~=1.5.0
# Werkzeug should be removed, as it's a flask dependency
# We are using a downgraded version to prevent deprecation warnings
Werkzeug~=2.3.3
