[Unit]
Description=uWSGI instance to serve Sandhill
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/sandhill
Environment="Path=/var/www/sandhill/env/bin"
ExecStart=/var/www/sandhill/env/bin/uwsgi --socket 127.0.0.1:8081 --protocol=http --py-autoreload 1 -w wsgi:application
StandardOutput=file:/var/log/nginx/sandhill.log
StandardError=file:/var/log/nginx/sandhill.log

[Install]
WantedBy=multi-user.target
