<div class="d-flex flex-wrap justify-content-lg-center justify-content-start">
    <div class="pt-2 px-3 align-self-start">
        <div class="text-center">
            <i class="sh-font-size-icon fas fa-book-open"></i>
        </div>
        <div class="text-center">
            <a href="/">12,345 Digitized Books</a>
        </div>
    </div>
    <div class="pt-2 px-3 align-self-start">
        <div class="text-center">
            <i class="sh-font-size-icon fa fa-newspaper"></i>
        </div>
        <div class="text-center">
            <a href="/">12,345 Newspapers</a>
        </div>
    </div>
    <div class="pt-2 px-3 align-self-start">
        <div class="text-center">
            <i class="sh-font-size-icon fa fa-volume-up"></i>
        </div>
        <div class="text-center">
            <a href="/">12,345 Audio</a>
        </div>
    </div>
    <div class="pt-2 px-3 align-self-start">
        <div class="text-center">
            <i class="sh-font-size-icon fa fa-image"></i>
        </div>
        <div class="text-center">
            <a href="/">12,345 Images</a>
        </div>
    </div>
    <div class="pt-2 px-3 align-self-start">
        <div class="text-center">
            <i class="sh-font-size-icon fa fa-file-pdf"></i>
        </div>
        <div class="text-center">
            <a href="/">12,345 PDFs</a>
        </div>
    </div>

</div>

