{% macro gen_browse_icon(icon, text, number, link) -%}
    <div class="col-4 col-md-3 mx-3 my-3 sh-col-lg-1-5">
        <a class="px-4 py-3 sh-browse-link d-block" href="{{ link }}">
            <div class="row justify-content-center" role="presentation">
                <i class="sh-icon-browse" data-feather="{{ icon }}"></i>
            </div>
            <div class="row justify-content-center">
                <span class="text-center sh-color-green-msu" href="/">{{ text }}<br />{{ "{:,}".format(number) }}</span>
            </div>
        </a>
    </div>
{%- endmacro -%}

<div class="row no-gutters justify-content-center">
    {{ gen_browse_icon("globe", "Browse All", 34567, "/search") }}
    {{ gen_browse_icon("book", "Books", 23456, "/") }}
    {{ gen_browse_icon("book-open", "Newspapers", 12345, "/") }}
    {{ gen_browse_icon("volume-2", "Audio", 6789, "/") }}
    {{ gen_browse_icon("image", "Images", 967, "/") }}
    {{ gen_browse_icon("file-text", "PDFs", 6543, "/") }}
</div>
