<style>
footer {
    color: #18453B;
    padding-top: 10em;
    padding-bottom: 4em;
}
.footer-link-row {
    border-bottom: 1px dotted #6E005F;
    width: max-content;
}
footer ul {
	display: block;
	padding-left: 0;
	line-height: 1;
	padding-bottom: 3px;
	margin-bottom: 0;
	margin-top: 0;
}

footer ul:first-child {
	margin-bottom: 5px;
	padding-bottom: 2px;
}
footer.bold-text {
	font-weight: 500;
}

footer ul li.bold-text, footer ul li.bold-text a{
	font-weight: 500 !important;
}
footer ul li.small-text a {
	font-weight: 500 !important;
}
footer ul li.small-text, footer ul li.small-text a {
    font-size: 9px;
    letter-spacing: .12px;
    margin-bottom: 0;
    margin-right: 0;
    font-weight: 400;
}

footer ul li {
    list-style: none;
    display: inline;
    line-height: 1;
    position: relative;
}

footer ul li a{
    font-size: .8125rem;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
}

footer ul:first-child li {
    list-style: none;
    padding-bottom: 2px;
    border-bottom: 1px dotted #6E005F;
}

footer ol li, footer ul li {
    font-size: 1rem;
    line-height: 1.875;
    font-weight: 300;
}
@media (min-width: 992px)
footer.col-lg-8 {
    flex: 0 0 6.6667%;
    max-width: 66.6667%;
}

footer.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

footer.col-lg-8, footer.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

footer ul li span {
	margin-left: 1px;
	margin-right: 1px;
	display: inline-block;
}

footer a{
    color:#18453B;
}
footer a:hover {
    color:#18453B;
}

footer img {
	width: 100%;
	max-width: 350px;
	margin-bottom: 0px;
	vertical-align: middle;
}
.sh-footer-logo {
    padding-top: .2em;
}
</style>
<div class="container">
	<div class="row">

		<div class="col-12 col-lg-4">
			<a href="https://www.msu.edu">
				<img alt="Michigan State University Wordmark" src="https://cdn.cabs.msu.edu/brand/images/msu-wordmark-green.svg"/>
			</a>
		</div>

		<div class="col-12 col-lg-8">
			<ul>
                <li>
					Call us: <a href="tel:8005001554" target="">(800) 500-1554</a>
					<span>|</span>
				</li>
				<li>
					<a href="https://msu.edu/contactus" target="">Contact Information</a>
					<span>|</span>
				</li>
				<li>
					<a href="https://msu.edu/sitemap-page" target="">Site Map</a>
					<span>|</span>
				</li>
				<li>
					<a href="https://msu.edu/privacy" target="">Privacy Statement</a>
					<span>|</span>
				</li>
				<li>
					<a href="https://msu.edu/accessibility" target="">Site Accessibility</a>
				</li>
			</ul>
			<ul>
				<li class="small-text">
Call MSU: 			<a href="tel:5173551855" target="">(517) 355-1855</a>
					<span>|</span>
				</li>
				<li class="small-text">
					Visit: 		<a href="https://msu.edu/visit/" target="_blank">msu.edu</a>
					<span>|</span>
				</li>
				<li class="small-text">
					MSU is an affirmative-action, equal-opportunity employer.
					<span>|</span>
				</li>
				<li class="bold-text small-text">
					<a href="https://oie.msu.edu/" target="">Notice of Nondiscrimination</a>
				</li>
			</ul>
			<ul>
				<li class="bold-text small-text">
					SPARTANS WILL.
					<span>|</span>
				</li>
				<li class="small-text">
					© Michigan State University
				</li>
			</ul>
		</div>
	</div>
</div>
