<style>
a {
    font-weight: 500;
    letter-spacing: normal;
    color: #151a22;
    text-decoration: underline;
}
a, h6 {
    line-height: 1.5;
}
footer {
    color: #18453B;
}
footer .bottom .col-lg-4 img {
    margin-bottom: 0;
    width: 100%;
}
dl, ol, ul {
    margin-top: 0;
}
ol li, ul li {
    font-size: 1rem;
    font-weight: 300;
    color: #151a22;
}
.col, .col-4, .col-8, .col-12, .col-lg-4, .col-lg-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.container {
    width: 100%;
    padding: 0 15px 0 15px;
    margin-right: auto;
    margin-left: auto;
}
footer .container .row .col-12>a>svg, fotter .container img {
    max-width: 350px;
}
footer .bottom ul {
    display: block;
    padding-left: 0;
    line-height: 1;
    padding-bottom: 3px;
    margin-bottom: 0;
}
footer .bottom ul:first-child {
    margin-bottom: 5px;
    padding-bottom: 5px;
}
footer .bottom ul:first-child li {
    list-style: none;
    padding-bottom: 2px;
    border-bottom: 1px dotted #6E005F;
}
footer .bottom ul li {
    list-style: none;
    display: inline;
    line-height: 1;
    position: relative;
}
footer .bottom ul li span {
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
}
footer .bottom ul li a {
    font-size: .8125rem;
    font-weight: 500;
    color: #000;
    display: inline-block;
    text-decoration: none;
}
footer .bottom ul li.small-text, footer.bottom ul li.small-text a {
    font-size: 9px;
    letter-spacing: .12px;
    color: #000;
    margin-bottom: 0
    margin-right: 0
    font-weight: 400;
}
.bold-text {
    font-weight: 500;
}
footer a{
    color:#18453B;
}
footer a:hover {
    color:#18453B;
}

@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
} 
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
@media (max-width: 575.98px)
footer .bottom ul:first-child li {
    border-bottom: none;
    display: block;
    text-align: center;
}
footer .col-12:nth-child(2) ul {
    padding-bottom: 0;
    margin-bottom: 0;
}

</style>
<div class="row pt-5">
    <div class="bottom mx-auto">
        <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <a href="https://www.msu.edu">
                    <img alt="Michigan State University Wordmark" src="https://cdn.cabs.msu.edu/brand/images/msu-wordmark-green.svg"/>
                </a>
            </div>
            <div class="col-12 col-lg-8">
                <ul>
                    <li class="">Call us: <strong>(800) 500-1554</strong></li>
                    <li class=""><a href="https://www.lib.msu.edu/contact/">Contact Information</a></li>
                    <li class=""><a href="https://www.lib.msu.edu/atoz/">Site Map</a></li>
                    <li class=""><a href="https://www.lib.msu.edu/about/privacystmt/">Privacy Statement</a></li>
                    <li class=""><a href="https://www.lib.msu.edu/general/site-accessibility/" rel="nofollow">Site Accessibility</a></li>
                </ul>
                <ul>
                    <li class="small-text">Call MSU: <a href="tel:5173551855" target><strong>(517) 355-1855</strong></a><span>|</span></li>
                    <li class="small-text">Visit: <b><a href="https://msu.edu" target="blank">msu.edu</a></b><span>|</span></li>
                    <li class="small-text">MSU is an affirmative-action, equal-opportunity employer.<span>|</span></li>
                    <li class="small-text bold-text"><b><a href="https://oie.msu.edu/" rel="nofollow">Notice of Nondescrimination</a></b></li>
                </ul>
                <ul>
                    <li class="small-text bold-text">SPARTANS WILL.<span>|</span></li>
                    <li class="small-text">&#169; Michigan State University</li>                     
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>
