<div class="row justify-content-center no-gutters sh-background-green-msu sh-color-white pt-4 mt-4">
    <div class="col-12 col-md-auto col-lg-auto order-lg-last">
        <ul class="d-flex flex-wrap sh-font-size-sm  mx-3 mr-md-0 ml-md-4 pb-1 mb-0 px-0 border-bottom sh-footer-list-stack">
            <li class="list-inline-item pr-2 pb-md-0 pb-2">
                Call us: <a href="tel:8005001554" target="">(800) 500-1554</a>
            </li>
            <li class="list-inline-item pr-2 pb-md-0 pb-2">
                <a href="https://msu.edu/contactus" target="">Contact Information</a>
            </li>
            <li class="list-inline-item pr-2 pb-md-0 pb-2">
                <a href="https://msu.edu/sitemap-page" target="">Site Map</a>
            </li>
            <li class="list-inline-item pr-2 pb-md-0 pb-2">
                <a href="https://msu.edu/privacy" target="">Privacy Statement</a>
            </li>
            <li class="list-inline-item pb-md-0 pb-2 border-0">
                <a href="https://msu.edu/accessibility" target="">Site Accessibility</a>
            </li>
        </ul>
        <ul class="d-flex flex-wrap  justify-content-center justify-content-md-start sh-font-size-xs mx-3 mr-md-0 ml-md-4 pb-1 mt-1 mb-0 px-0  border-bottom">
            <li class="list-inline-item pr-2 border-right">
                Call MSU: <a class="sh-green-light" href="tel:5173551855" target="">(517) 355-1855</a>
            </li>
            <li class="list-inline-item pr-2 border-right">
                Visit: <a class="sh-green-light" href="https://msu.edu/visit/" target="_blank">msu.edu</a>
            </li>
            <li class="list-inline-item pr-2 border-right">
                MSU is an affirmative-action, equal-opportunity employer.
            </li>
            <li class="list-inline-item ">
                <a href="https://oie.msu.edu/" target="">Notice of Nondiscrimination</a>
            </li>
        </ul>
        <ul class="d-flex flex-wrap sh-font-size-xs justify-content-center justify-content-md-start mx-3 mr-md-0 ml-md-4 mt-1 px-0">
            <li class="list-inline-item pr-2 border-right">
                SPARTANS WILL.
            </li>
            <li class="list-inline-item">
                © Michigan State University
            </li>
        </ul>
    </div>
    <div class="col-auto col-lg-auto pb-4 px-3 px-md-4 px-lg-0 pt-1">
        <a href="https://www.msu.edu">
            <img class="w-100" alt="Michigan State University Wordmark" src="https://cdn.cabs.msu.edu/brand/images/msu-wordmark-white.svg"/>
        </a>
    </div>
</div>
