<style>
footer {
    color: #18453B;
}
footer .bottom .col-lg-4 img {
    margin-bottom: 0;
    width: 100%;
}
.footer-link-row {
    border-bottom: 1px dotted #6E005F;
    width: max-content;
}
.footer-small {
    font-size: .7rem !important;
}
.flex-list {
    position: relative;
    /*overflow: hidden;*/
    font-size: .9rem;
}
.flex-list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:.4rem;
    width: max-content;
}
.flex-list li {
    flex-grow: .1;
    flex-basis: auto;
    padding: 0 .25rem;
    text-align: center;
    border-left: 1px solid #18453b;
}

.flex-list li:first-child {
    border-left: none;
}

footer a{
    color:#18453B;
}
footer a:hover {
    color:#18453B;
}

footer img {
    max-width: 100%;
}
.sh-footer-logo {
    padding-top: .2em;
}
/* @media (min-width: 992px)
.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
} */

</style>
<div class="row pt-5">
    <div class="container mx-auto">
        <div class='row'>
            <div class="col-sm-4 col-md-4 col-lg-3 sh-footer-logo">
                <a href="https://www.msu.edu" class='mx-auto'>
                    <img alt="Michigan State University Wordmark" src="https://cdn.cabs.msu.edu/brand/images/msu-wordmark-green.svg"/>
                </a>
            </div>
            <div class="col-sm-11 col-md-11 col-lg-9">
                <div class="footer-link-row">
                    <div class="flex-list">
                        <ul class="pl-0 pr-0">
                            <li class='pl-1 pr-2'>Call us: <strong>(800) 500-1554</strong></li>
                            <li class='px-2'><a href="https://www.lib.msu.edu/contact/">Contact Information</a></li>
                            <li class='px-2'><a href="https://www.lib.msu.edu/atoz/">Site Map</a></li>
                            <li class='px-2'><a href="https://www.lib.msu.edu/about/privacystmt/">Privacy Statement</a></li>
                            <li class='px-2'><a href="https://www.lib.msu.edu/general/site-accessibility/" rel="nofollow">Site Accessibility</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flex-list footer-small mt-1">
                    <ul class='pl-0 pr-0'>
                        <li class='px-1'>Call MSU: <span class="msu-phone"><strong>(517) 355-1855</strong></span></li>
                        <li class='px-1'>Visit: <b><a href="https://msu.edu">msu.edu</a></b></li>
                        <li class='px-1'>MSU is an affirmative-action, equal-opportunity employer. </li>
                        <li class='px-1'><b><a href="https://oie.msu.edu/" rel="nofollow">Notice of Nondescrimination</a></b></li>
                    </ul>
                    <ul class='pl-0 pr-0'>
                        <li class="px-1"><b>SPARTANS WILL.</b></li>
                        <li class='px-1'>&#169; Michigan State University</li>                     
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
