<div class="sh-header">
    <div class="row px-3 px-md-4 px-lg-5 px-xl-5">
        <div class="col-8 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-3">
            <div style="width:296px; height:33px">
                {% include 'masthead.html.j2' %}
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 offset-xl-4 offset-lg-4 mt-3">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control sandhill_search_input" placeholder="Search" aria-label="Search the repository" aria-describedby="button-addon4">
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-secondary sandhill_search_btn" type="button"><img src="{{ url_for('static', filename='icons/search.svg') }}"</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<!-- Ribbon bar -->
    <div class="row sh-ribbon-bar">
        <div class="col-12 col-lg-8">
            <h1>
                <a href="https://lib.msu.edu"><span class="align-middle">MSU Libraries</span></a>
                <span> | </span>
                <a href="/"><span class="align-middle">Digital Repository</span></a>
            </h1>
        </div>
        <div class="col-12 col-lg-4">
           <nav class="sh-navbar navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="sh-nav-item nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="sh-nav-item nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="sh-nav-item nav-item">
                        <a class="nav-link" href="/collections">Collections</a>
                    </li>
                </ul>
            </nav> 
        </div>
    </div>
<!-- Ribbon bar end -->
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb sandhill_breadcrumb px-3 px-md-4 px-lg-5 px-xl-5">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/{{ view_args.namespace }}">{{ item.collection_t | head }} </a></li>
  </ol>
</nav>


