<header>
    <div class="row sandhill_header px-3 px-md-4 px-lg-5 px-xl-5">
        <div class="col-6 col-xl-4 mt-3">
            <div style="width:296px; height:33px">
                {% include 'masthead.html.j2' %}
            <div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 offset-xl-4 offset-lg-4 mt-3">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control sandhill_search_input" placeholder="Search" aria-label="Search the repository" aria-describedby="button-addon4">
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-secondary sandhill_search_btn" type="button"><img src="{{ url_for('static', filename='icons/search.svg') }}"</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</header>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb sandhill_breadcrumb px-3 px-md-4 px-lg-5 px-xl-5">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/{{ view_args.namespace }}">{{ item.collection_t | head }} </a></li>
  </ol>
</nav>


