{% macro gen_collection_browse(img_link, text, link) -%}
    <div class="col-5 col-md-2 col-xl-auto m-2 ml-md-5">
        <a class="d-block border rounded p-3 text-center sh-background-hover-gray-hover" href='{{ link }}' style="max-width:12.5rem">
            <img class="w-100" alt="" role="presentation" src='{{ img_link }}'/>
            <span class="d-block my-3">{{ text }}</span>
        </a>
    </div>
{%- endmacro -%}

<div class="mx-5">
    {% for section in sections %}
        <h2 class="mb-2">{{ section.heading }} </h2>
        <div class="row mb-4 justify-content-center justify-content-md-start">
        {% for object in section.objects %}
            {{ gen_collection_browse(object.img_link, object.caption, object.link_out) }}

        {% endfor %}
        </div>
    {% endfor %}
</div>

