<style>

.mediaview {
    min-width: 22rem;
}

.pdf_container {
    position: relative;
    width: 100%;
    padding-top: 125%;
}

.pdf_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.metadata_block {
    min-width: 22rem;
}
</style>

<div class="row">
    <div class="row d-block mx-auto col-11">
        <div class="mediaview bg-success d-block col-5 float-left">
            {# include the viewer section of the page #}
            {% if metadata_conf['media_template'] and (metadata_conf['media_template'] | render) %}
                {# % include (metadata_conf['media_template'] | render) % #}
                <div class="pdf_container">
                    <iframe id="pdf-js-viewer" src="{{ url_for('static', filename='repo_pdfjs') }}/web/viewer.html?file={{ item['PID'] | generate_datastream_url("OBJ") }}" title="webviewer" frameborder="0" class="pdf_frame"></iframe>
                </div>
            {% endif %}
        </div>
        {# include the metadata section of the page #}
        {% for display_conf in metadata_conf['display'] %}
            {% if display_conf['value'] and (display_conf['value'] | render_literal) %}
                <div class="d-inline-block bg-info col-7 metadata_block">
                    {% include display_conf['metadata_template'] %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
