<div class="">
    <div class="bg-primary float-left" style="width: 45%">
        {# include the viewer section of the page  #}
        {% if metadata_conf['media_template'] and (metadata_conf['media_template'] | render) %}
            {% include (metadata_conf['media_template'] | render)  %}
        {% endif %}
    </div>
    {# include the metadata section of the page  #}
    {% for display_conf in metadata_conf['display'] %}
        <div class="bg-danger" width="45%">
            {% if display_conf['value'] and (display_conf['value'] | render_literal) %}
                {% include display_conf['metadata_template'] %}
            {% endif %}
        </div>
    {% endfor %}
</div>
