{% extends 'base.html.j2' %}

{% block title %}
    {{ metadata_conf.title | render }}
{% endblock %}

{% block content %}
    <div class="px-3 px-md-4 px-lg-5 px-xl-5">
        {# breadcrumb of the page #}
            {% include 'item_page_blocks/breadcrumbs.html.j2' %}
        {# title of the page #}
        <div class="row">
            <div class="col-12">
                <h2>{{ metadata_conf['title'] | render }}</h2>
            </div>
        </div>

        {# action bar #}
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-12 col-md-8 col-sm-12 order-xl-last order-lg-last order-md-last">
                <div>
                    {% include 'item_page_blocks/actions_bar.html.j2' %}
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-12 col-md-4 col-sm-12"></div>
        </div>

        {# metadata and viewer #}
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-12 col-md-8 col-sm-12 order-md-last">
                {# include the viewer section of the page  #}
                {% if metadata_conf['media_template'] and (metadata_conf['media_template'] | render) %}
                    {% include (metadata_conf['media_template'] | render)  %}
                {% endif %}
            </div>
            <div class="col-xl-6 col-lg-5 col-12 col-md-4 col-sm-12 left_metadata">
                {# include the metadata section of the page  #}
                {% for display_conf in metadata_conf['display'] %}
                    {% if display_conf['value'] and (display_conf['value'] | render_literal) %}
                        {% include display_conf['metadata_template'] %}
                    {% endif %}
                {% endfor %}
                {# metadata download block #}
                {% include 'item_page_blocks/metadata_download.html.j2' %}
            </div>
        </div>
    </div>
{% endblock %}
