<div class="row">
    <div class="col-xl-6 col-lg-7 col-12 col-md-8 col-sm-12 order-xl-last order-lg-last order-md-last">   
        {# include the viewer section of the page  #}
        {% if metadata_conf['media_template'] and (metadata_conf['media_template'] | render) %}
            {% include (metadata_conf['media_template'] | render)  %}
        {% endif %}
    </div>
    <div class="col-xl-6 col-lg-5 col-12 col-md-4 col-sm-12">
        {# include the metadata section of the page  #}
        {% for display_conf in metadata_conf['display'] %}
            {% if display_conf['value'] and (display_conf['value'] | render_literal) %}
                {% include display_conf['metadata_template'] %}
            {% endif %}
        {% endfor %}
        {# metadata download block #}
        {% include 'item_page_blocks/metadata_download.html.j2' %}
    </div>
</div>

