{% extends 'base.html.j2' %}

{% block title %}
    {{ metadata_conf.title | render }}
{% endblock %}

{% block content %}
    {# title of the page #}
    <div class="row">
        <div class="col-12">
            <h1>{{ metadata_conf['title'] | render }}</h1>
            {# include the actions section of the page  #}
            {% include 'item_page_blocks/actions_bar.html.j2' %}
        </div>
    </div>
    
    {# check for the md_position and display the appropriate columns #}
    {% include 'item.' + view_args.md_position + '.html.j2' %}

    {# include the downloads section of the page  #}
    {#% if metadata_conf['downloads'] %#}
        {#% include 'item_page_blocks/downloads_box.html.j2' %#}
    {#% endif %#}

{% endblock %}
