/* Colors used
border     :    #dee2e6
link color :    #18453b
*/
header, footer, main {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-size: 2.3rem;
   color: #18453B;
}
h2 {
    font-size:2rem;
    color: #333333;
    font-weight: 900;
}
a {
    color: #6E005F;
}
a:hover {
    color: #9b0086;
}

body {
    color: #333333;
    font-size: 1rem;
}
/* bootstrap overrides */


/* bootstrap overrides - End*/

/* Header css - Start */
.sh-header {
    background-image: url('/static/images/header.jpg');
    background-repeat: no-repeat;
    background-position: 0% 37%;
    background-size: cover;
    height: 20rem;
}
.sh-header-overlay {
    background: linear-gradient(0deg, rgba(24, 69, 59, 0.4), rgba(24, 69, 59, 0.4)), url('/static/images/header.jpg');
    background-repeat: no-repeat;
    background-position: 0% 37%;
    background-size: cover;
    height: 20rem;

}
.sh-heading-link a {
    color: #18453b;
}
.sh-heading-link a:hover {
    color: #107045;
}

.sh-nav-expanded {
    z-index:10;
    background: #ffffff
}
.sandhill_search_input {
    background: rgba(255,255,255, 0.9);
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
}
.sandhill_search_btn {
    background: rgba(255,255,255, 0.9);
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}
.sandhill_breadcrumb {
    background: none;
}

.sh-ribbon-bar {
    background-color: white;
}

.sh-navbar {
    background-color:white;
}

.sh-navbar .sh-nav-item .nav-link {
    color: #18453B;
    font-size: 1.2rem;
}

.sh-navbar .sh-nav-item .nav-link:hover {
    text-decoration:underline;
}
.sh-header form, .sh-header-overlay form {
    padding-top: .6rem;
}
.sh-heading-link a {
    text-decoration: none !important;
}

/* Header css - End */

/* Footer css - Start */
.sh-footer-green {
    background:#18453b;    
}
.sh-footer-sm-text li, .sh-footer-sm-text li a{
    font-size: 0.8rem;
    white-space: nowrap;
}
.sh-footer-xs-text li, .sh-footer-xs-text li a{
    font-size: 0.6rem;
    white-space: nowrap;
}
.sh-footer-img {
   max-width: 15rem; 
}
.sh-footer-list-item {
    width: 100%;
    text-align: center;
    border-right: 0px;
}
.sh-footer-green ul li a, .sh-footer-green ul li, .sh-footer-green ul li a:hover {
    color:#ffffff;
}
.sh-footer-green-link {
    color: #84d123 !important;
}

/* Footer css - End */

/* metadata abstract block css */
#sandhill_expand_block {
  line-height: 1.5;
}

#sandhill_expand_block #sandhill_block_collapse.collapse:not(.show), #sandhill_modal_block #sandhill_modal_block_collapse {
  display: block;
  height: 9rem;
  overflow: hidden;
}

#sandhill_expand_block #sandhill_block_collapse.collapsing, #sandhill_modal_block #sandhill_modal_block_collapse{
  height: 9rem;
}

#sandhill_expand_block a.collapsed::after {
  content: ' more';
}

#sandhill_expand_block a:not(.collapsed)::after {
  content: ' less';
}
.abstract_more_button{
    padding:0rem;
    color: #6E005F!important;
    cursor:pointer;
    background:none;
}
.abstract_more_button:hover{
    text-decoration:underline!important;
    color: #9b0086!important;
}
.abstract_body{
    max-height: 25rem;
    overflow-y: auto;
}
.abstract_scroll{
    height: 15rem;
    overflow-y: auto;
}
.abstract_scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.5rem;
}
.abstract_scroll::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 0.2rem rgba(255,255,255,.5);
}

/* metadata abstract block css - End*/

/* Item page css */
#sandhill_downloads_header h2 button {
    font-size: 1.6rem;
    color: #18453b;
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.sandhill_metadata_descriptive_list {
    /* moved to scss */
    margin-top:0rem !important;
    margin-bottom:1rem !important;
}
.embargo_help_text{
    background: #f1e7fe;
}
/* Item page css - End */
/* PDF Viewer css */
#sandhill_pdf_viewer{
    height:40rem;
    border: 0.4rem solid #e3e3e3;
    border-radius: 0.4rem;
}
#pdf-js-viewer{
    width:100%;
}
.pdf_container {
    position: relative;
    width: 100%;
    padding-top: 125%;
    border-bottom: .25rem rgba(69, 69, 69, 0.95) solid;
}

.pdf_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* PDF Viewer css - END */
/* Icon  and Image css */
.action_bar_icon{
    height: 1.25rem;
    margin-bottom:.15rem;
}
.actions_rights_badge{
    height:2.5rem;
}
.actions_dropdown_button{
    /* moved to scss:  sh-button-dropdown-link */
    background-color: #ffffff;
    font-size: 1.1rem;
}
.actions_dropdown_button:hover{
    /* moved to scss:  sh-button-dropdown-link */
    background-color: #e3e3e3;
}
body:focus, body:active, .btn:focus, .btn:active, a:focus, a:active {
    box-shadow: 0 0 0 0.1rem #e3e3e3;
}
.actions_hover:hover{
    background:#e3e3e3;
    border-radius:0.5rem;
}
.action_dropdown_link:hover{
    /* moved to scss */
    background:#e3e3e3;
}
.action_dropdown_link a{
    /* moved to scss */
    color: #1a1a1a;
}
.action_dropdown_link a:hover{
    /* moved to scss */
    color: #1a1a1a;
    text-decoration:none;
}

.copy-icon {
    background: transparent;
}

.copy-icon-narrow {
    padding-bottom: .2rem !important;
    padding-left:.2rem !important;
}

.copy-icon:hover {
    background: #e3e3e3;
}
/* Icon and Image css - END */

/* Icon and Image css - END */


/* TODO - Use bootstrap mixins when we start using sass */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .sh-navbar, .sh-navbar {
        float:left;
    }
    .sh-nav-item a {
        padding-right: 0.8rem;
        padding-left: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .sh-heading-border {
        border-right :0.2rem solid #18453b;
    }
    .sh-header, .sh-header-overlay {
        background-size: 100%;
        height: 17rem;
    }
    .sh-navbar, .sh-navbar {
        float:left;
    }
    .sh-nav-item a {
        padding-right: 0.8rem;
        padding-left: 0;
    }
    .sh-footer-list-item {
        width: auto;
        border-right: 1px solid #dee2e6 ; /* bootstrap grey - possibly decide on the color */
        border-right: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .sh-header, .sh-header-overlay {
        background-size: 100%;
        height: 15rem;
    }
    .sh-navbar, .sh-navbar {
        float:right;
    }
    .sh-nav-item a {
        padding-left: 0.8rem;
        padding-right: 0;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
