/* Footer css - Start */
.sh-footer-sm-text li, .sh-footer-sm-text li a{
    font-size: 0.8rem;
    white-space: nowrap;
}
.sh-footer-xs-text li, .sh-footer-xs-text li a{
    font-size: 0.6rem;
    white-space: nowrap;
}
.sh-footer-img {
   max-width: 15rem; 
}
.sh-footer-list-item {
    width: 100%;
    text-align: center;
    border-right: 0px;
}
.sh-footer-green ul li a, .sh-footer-green ul li, .sh-footer-green ul li a:hover {
    color:#ffffff;
}
.sh-footer-green-link {
    color: #84d123 !important;
}

/* Footer css - End */
/* TODO - Use bootstrap mixins when we start using sass */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .sh-footer-list-item {
        width: auto;
        border-right: 1px solid #dee2e6 ; /* bootstrap grey - possibly decide on the color */
        border-right: auto;
    }
}
