/* Colors used
border     :    #dee2e6
link color :    #18453b
*/
h1 {
    font-size: 2.3rem;
    color: #18453B;
}
h2 {
    font-size:2rem;
    color: #333333;
    font-weight: 900;
}
a {
    color: #6E005F;
}
a:hover {
    color: #9b0086;
}

body {
    color: #333333;
    font-size: 1rem;
}
/* bootstrap overrides */


/* bootstrap overrides - End*/

/* metadata abstract block css */
#sandhill_expand_block {
  line-height: 1.5;
}

#sandhill_expand_block #sandhill_block_collapse.collapse:not(.show), #sandhill_modal_block #sandhill_modal_block_collapse {
  display: block;
  height: 15rem;
  overflow: hidden;
}

#sandhill_expand_block #sandhill_block_collapse.collapsing, #sandhill_modal_block #sandhill_modal_block_collapse{
  height: 15rem;
}

#sandhill_expand_block a.collapsed::after {
  content: ' more';
}

#sandhill_expand_block a:not(.collapsed)::after {
  content: ' less';
}
.abstract_more_button{
    padding:0px;
    color: #6E005F!important;
    cursor:pointer;
    background:none;
}
.abstract_more_button:hover{
    text-decoration:underline!important;
    color: #9b0086!important;
}
.abstract_body{
    max-height: 25rem;
    overflow-y: auto;
}
.abstract_scroll{
    height: 15rem;
    overflow-y: auto;
}
.abstract_scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
.abstract_scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* metadata abstract block css - End*/

/* Item page css */
#sandhill_downloads_header h2 button {
    font-size: 1.6rem;
    color: #18453b;
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.sandhill_metadata_descriptive_list {
    margin-top:0rem !important;
    margin-bottom:1rem !important;
}
/* Item page css - End */
/* PDF Viewer css */
#sandhill_pdf_viewer{
    height:40rem;
    border: 5px solid #e3e3e3;
    border-radius: 5px;

}
#pdf-js-viewer{
    width:100%;
}
.pdf_container {
    position: relative;
    width: 100%;
    padding-top: 125%;
    border-bottom: .25rem rgba(69, 69, 69, 0.95) solid;
}

.pdf_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* PDF Viewer css - END */
/* Icon  and Image css */
.action_bar_icon{
    height: 1.25rem;
    margin-bottom:.15rem;
}
.actions_rights_badge{
    width: 5rem;
    height:100%;
}
.actions_dropdown_button{
    background-color: #ffffff;
    font-size: 1.1rem;
}
.actions_dropdown_button:hover{
    background-color: #e3e3e3;
}
body:focus, body:active, .btn:focus, .btn:active, a:focus, a:active {
    box-shadow: 0 0 0 0.1rem #e3e3e3;
}
.actions_hover:hover{
    background:#e3e3e3;
    border-radius:5px;
}
.action_dropdown_link:hover{
    background:#e3e3e3;
}
.action_dropdown_link a{
    color: #1a1a1a;
}
.action_dropdown_link a:hover{
    color: #1a1a1a;
    text-decoration:none;
}

.copy-icon {
    background: transparent;
}

.copy-icon-narrow {
    padding-bottom: .2rem !important;
    padding-left:.2rem !important;
}

.copy-icon:hover {
    background: #e3e3e3;
}
/* Icon and Image css - END */

/* Icon and Image css - END */
