<div id="sandhill_expand_block" class="my-s-3">
    <h2>{{ display_conf['label'] }}</h2>
    <div class="collapse" id="sandhill_block_collapse" aria-expanded="false">
         {{ item[display_conf['field']] }}
    </div>
    <a role="button" class="collapsed" data-toggle="collapse" href="#sandhill_block_collapse" aria-expanded="false" aria-controls="sandhill_block_collapse">Show</a>
</div>
