<div class="mt-4 mb-2">
	<ul class="nav nav-pills item-options">
        <li class="pr-3">
            <img class="actions_rights_badge img-fluid" alt="In copyright" src="{{ url_for('static', filename='images/InC.dark.svg') }}"/>
        </li>
		<li class="dropdown pr-3">
			<img src="{{ url_for('static', filename='icons/Icon_Download.svg') }}"role="presentation" class="action_bar_icon"/> <a class="dropdown-toggle align-middle" data-toggle="dropdown" href="#" aria-expanded="false"> Download <span class="caret"></span> </a>
			<ul class="dropdown-menu">
                 <li class="dropdown-item" ><a href="#">Original file</a></li>
                 <li class="dropdown-item" ><a href="#">Low-resolution image</a></li>
                 <li class="dropdown-item" ><a href="#">Full text</a></li>
			</ul>
		</li>
		<li class="dropdown pr-3">
			<img src="{{ url_for('static', filename='icons/Icon_Share.svg') }}"role="presentation" class="action_bar_icon"/> <a class="dropdown-toggle align-middle" data-toggle="dropdown" href="#" aria-expanded="false"> Share <span class="caret"></span> </a>
			<ul class="dropdown-menu">
                 <li class="dropdown-item" ><a href="#">Embed code</a></li>
			</ul>
		</li>
		<li class="dropdown pr-3">
			<img src="{{ url_for('static', filename='icons/Icon_Contact.svg') }}"role="presentation" class="action_bar_icon"/> <a class="dropdown-toggle align-middle" data-toggle="dropdown" href="#" aria-expanded="false"> Contact Us <span class="caret"></span> </a>
			<ul class="dropdown-menu">
                 <li class="dropdown-item" ><a href="#">Email</a></li>
			</ul>
		</li>
	</ul>
</div>
