<nav aria-label="breadcrumb">
  <ol class="breadcrumb sh-background-none px-0">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/{{ view_args.namespace }}">{{ item.collection_t | head }} </a></li>
  </ol>
</nav>

