{% set displayed = namespace(any=False) %}
<span class="dropdown-header disable-close-on-click sh-color-gray-dark h5">{{ download_type | title }}</span>
{% for ds in download_conf[download_type] %}
    {% if ds.datastream in item['fedora_datastreams_ms'] and not (ds.restricted and restriction) %}
        {% set displayed.any = True %}
        <li class="dropdown-item">
            <a href="{{ item['PID'] | generate_datastream_url(ds.datastream, "download")  }}" 
                class="d-flex justify-content-between w-100 align-items-center">
                    <div class="pr-3 d-flex align-items-center">{{ ds.label }} 
                        <span class="sh-font-size-sm pl-1">
                            ({{ item[ds.mime_type_field] | head | get_extension }})
                        </span>
                    </div>
                    <div class="sh-font-size-sm">{{ item[ds.file_size_field] | head | size_format }}</div>
            </a>
        </li>
    {% endif %}
{% endfor %}

{% if not displayed.any %}
    <li class="dropdown-item">No downloads available</li>
{% endif %}

