<div class="mt-4 mb-2">
    <ul class="nav nav-pills">
        <li class="mr-1">
            <button class="btn sh-button-dropdown dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
                <img src="{{ url_for('static', filename='icons/Icon_Download.svg') }}" role="presentation" alt="" class="pr-1"/>
                Download Metadata
            </button>
            <ul class="dropdown-menu sh-dropdown bg-light">
                 <li class="dropdown-item"><a href="#">MODS</a></li>
                 <li class="dropdown-item"><a href="#">Dublin Core</a></li>
                 <li class="dropdown-item"><a href="#">NDLTD</a></li>
            </ul>
        </li>
    </ul>
</div>
