<style>
.abstract_scroll{
    height: 15rem;
    overflow: auto;
    border: 0.1rem solid #e3e3e3;
    border-radius: 5px;
}
</style>
<div class="abstract_scroll p-2">
     {{ display_conf['value'] | render }}
</div>
