<style>
    .sideways {
        height: 12rem;
    }
    .cllps {
        height: 10.5rem;
        overflow: hidden;
    }
    .modal-body {
        overflow: auto !important;
        max-height: 25rem;
    }
    div.expnd {
        position: absolute;
        width: 100%;
        margin-left: -0.5rem;
        margin-top: -0.125rem;
        z-index: 100;
        background: #fff;
        border: solid 0.1rem #777;
        border-radius: 0.5rem;
    }

@media (min-width: 768px) {
    div.expnd {
        width: 300% !important;
        margin-left: calc(-200% - 0.3rem) !important;
    }
}
@media (min-width: 992px) {
    div.expnd {
        width: 240% !important;
        margin-left: calc(-140% - 0.2rem) !important;
    }
}
@media (min-width: 1200px) {
    div.expnd {
        width: 200% !important;
        margin-left: calc(-100% - 0.2rem) !important;
    }
}
    a.expnd_click {
        margin-right: 1rem;
    }

    span.expnd_click {
        position: absolute;
        top: 0.6rem;
        right: 0.8rem;
        cursor: pointer;
    }

    span.expnd_click:not(.expnd) {
        display: none
    }

    .expnd_tgl a::after {
      content: 'Close';
    }

    .expnd_tgl:not(.expnd) a::after {
      content: 'Read more';
    }
</style>
<script>
$( document ).ready(function() {
    // Mouse click
    $(".expnd_click").on('click', function(e) { modalize(); e.preventDefault(); });
    // Escape key
    $(document).keyup(function(e) { if (e.keyCode === 27 && $(".expnd_tgl").hasClass("expnd")) { modalize(); } });
});

function modalize() {
    $(".expnd_tgl").toggleClass("expnd");
    $(".cllps_tgl").toggleClass("cllps");
    $("a.expnd_click").toggleClass("d-none");
    $("a.expnd_click").toggleClass("d-inline-block");
    $(".fake-modal-header").toggleClass("modal-header");
    $(".fake-modal-body").toggleClass("modal-body");
    $(".fake-modal-footer").toggleClass("modal-footer");
    $(".fake-modal-header").toggleClass("d-none");
    $(".fake-modal-footer").toggleClass("d-none");
    if ($(".modal-body").is(":visible")) {
        // Delay needed due to "enter" not triggering focus
        setTimeout( function(){ $(".modal-body").focus(); }, 50 );
    }
    // If focus is still within the hidden modal, then reset back to abstract link
    else if (!$(":focus").is(":visible")) {
        $(".expnd_click").focus();
    }
}
</script>
<div class="sideways">
    <div class='expnd_tgl'>
        <div class="fake-modal-header d-none">
            <h5 class="modal-title" id="abstract_title">Abstract</h5>
            <button type="button" class="close expnd_click" title="Close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div tabindex="-1" class='cllps_tgl cllps fake-modal-body'>
            {{ display_conf['value'] | render }}
        </div>
        <a class="expnd_click float-right d-inline-block" href="#"></a>
        <div class="fake-modal-footer d-none">
            <button type="button" class="btn btn-secondary expnd_click">Close</button>
        </div>
    </div>
</div>
