<dl class="row my-sm-3 sandhill_metadata_descriptive_list">
    <dt class="col-sm-3" id="sandhill_metadata_field">{{ display_conf['label']  }}</dt>
    <dd class="col-sm-9" aria-labelledby="sandhill_metadata_field">
        {% if (display_conf['value'] | render(False) ) | is_list %}
            {% for  metadata_value in ( display_conf['value'] | render(False) )%}
                {% include 'item_page_blocks/display_field.html.j2' %}
                <br/>
            {% endfor %}
        {% else %}
            {% set metadata_value = (display_conf['value'] | render) %}
            {% include 'item_page_blocks/display_field.html.j2' %}
        {% endif %}
    </dd>
</dl>
