<div class="mt-4 mb-2">
    <ul class="nav nav-pills">
        <li class="mr-1">
            <button class="btn sh-button-dropdown dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
                <img src="{{ url_for('static', filename='icons/Icon_Download.svg') }}" role="presentation" alt="" class="pr-1"/>
                Download Metadata
            </button>
            <ul class="dropdown-menu sh-dropdown bg-light">
            {% with download_type="metadata"%}
                {% include 'item_page_blocks/downloads.html.j2' %}
            {% endwith %}
            </ul>
        </li>
    </ul>
</div>
