<div id="sandhill_modal_block" class="my-s-3">
    {% if 'label' in display_conf %} 
        <h2>{{ display_conf['label'] }}</h2>
    {% endif %}
    <div class="collapse" id="sandhill_modal_block_collapse" aria-expanded="false">
         {{ display_conf['value'] | render }}
    </div>
    <a type="button" class="abstract_more_button" data-toggle="modal" data-target="#abstract_modal">Read more</a>
</div>

<!-- Modal -->
<div class="modal fade" id="abstract_modal" tabindex="-1" role="dialog" aria-labelledby="abstract_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="abstract_title">Abstract</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ display_conf['value'] | render }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
