{# include the abstract styles in the metadata section  #}
{% if view_args.md_style %}
    {% include 'item_page_blocks/metadata_' + view_args.md_style + '_block.html.j2' %}
{% else %}
    {% include 'item_page_blocks/metadata_expand_block.html.j2' %}
{% endif %}

