{% set aria_label_id = "sh-metadata-field-"+display_conf['label'] | replace(' ', '')  %} 
<dl class="row my-3">
    <dt class="col-12 col-lg-3 col-xl-3" id="{{ aria_label_id }}">{{ display_conf['label'] }}</dt>
    <dd class="col-12 col-lg-9 col-xl-9" aria-labelledby="{{ aria_label_id }}">
        {% if (display_conf['value'] | render_literal) | is_list %}
            {% for metadata_value in (display_conf['value'] | render_literal) %}
                {% include 'item_page_blocks/display_field.html.j2' %}
                <br/>
            {% endfor %}
        {% else %}
            {% set metadata_value = (display_conf['value'] | render) %}
            {% include 'item_page_blocks/display_field.html.j2' %}
        {% endif %}
    </dd>
</dl>
