<div id="sandhill_modal_block" class="my-s-3">
    {% if 'label' in display_conf %} 
        <h2>{{ display_conf['label'] }}</h2>
    {% endif %}
    <div class="collapse" id="sandhill_modal_block_collapse" aria-expanded="false">
         {{ display_conf['value'] | render }}
    </div>
    <a type="button" class="abstract_more_button" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ display_conf['value'] | render }}">Read more</a>
</div>

