<div class="text-center">
    <!-- TODO -- pull the embargo field from the config -->
    {% if  item['embargo_end_date_ss'] and  ( item['embargo_end_date_ss'] | head | check_embargo ) %}
        <img class="border rounded"
            src="{{ item['PID'] | generate_datastream_url("PREVIEW") }}"
            class="img-fluid"
            alt="{{ item[metadata_conf['title_field']] }}"/>

    {% else %}
        <a href="{{ item['PID'] | generate_datastream_url }}">
            <img class="border rounded"
                src="{{ item['PID'] | generate_datastream_url("PREVIEW") }}"
                class="img-fluid"
                alt="{{ item[metadata_conf['title_field']] }}"/>
        </a>

    {% endif %}
</div>

