<div class="sh-home-header d-flex flex-column">
    <div class="row no-gutters px-3 px-md-4 px-lg-5 px-xl-5">
        <div class="col-6 col-sm-6 col-md-4 mt-3">
            <a href="https://msu.edu" aria-label="Michigan State University Home"><img alt="Michigan State University Home" src="https://cdn.cabs.msu.edu/brand/images/masthead-helmet-white.svg"></a>
        </div>
    </div>
    <!-- Ribbon bar -->
    <div class="row no-gutters sh-background-white justify-content-between px-3 px-md-4 px-lg-5 px-xl-5 mt-3">
        <div class="col-12  col-lg-auto d-flex align-items-center">
            <nav class="mt-2">
                <ul class="nav row no-guters">
                    <li class="col-12 col-md-auto sh-font-size-h1-xs sh-font-size-h1-sm h1 h-100 flex-wrap sh-heading-link pr-0">
                        <a href="https://lib.msu.edu"><span class="sh-heading-divider text-nowrap pr-md-2">MSU Libraries</span></a>
                    </li>
                    <li class="col-12 col-md-auto sh-font-size-h1-xs sh-font-size-h1-sm h1 h-100 flex-wrap sh-heading-link pl-md-0">
                        <a href="/"><span class="text-nowrap pl-md-2">Digital Repository</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-12 col-lg-auto d-flex align-items-center">
            {# TODO -- switch to float left on 2 row view, switch right and left paddings #}
            <nav class="sh-background-white pl-0" aria-label="Main">
                <ul class="nav">
                    <li class="sh-nav-item nav-item">
                        <a class="nav-link pl-0 pr-sm-3" href="/">Home</a>
                    </li>
                    <li class="sh-nav-item nav-item">
                        <a class="nav-link pl-sm-0 pr-sm-3" href="/about">About</a>
                    </li>
                    <li class="sh-nav-item nav-item">
                        <a class="nav-link pl-sm-0 pr-sm-3" href="/collections">Collections</a>
                    </li>
                </ul>
            </nav> 
        </div>
    </div>
    <!-- Ribbon bar end -->
    <!-- Search bar -->
    <div class="row no-gutters sh-home-search align-content-center flex-grow-1">
        <div class="col-10 col-md-6 offset-md-3 offset-1">
            <form action="/search" method="GET">
                <div class="input-group">
                    <input type="text" maxlength="4096" class="form-control sh-search-input" name="q" placeholder="Search the repository" aria-label="Search the repository" aria-describedby="sh-search">
                    <button class="sh-close-icon" type="reset"></button>
                    <div class="input-group-append" id="sh-search">
                        <button type="submit" class="btn sh-search-btn px-3" aria-label="Search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Search bar end -->
</div>
