.sh-expand-block {
    line-height: 1.5;

    a {
        &.collapsed {
            &:after {
                content: ' more';
            }
        }

        &:not(.collapsed) {
            &:after {
                content: ' less';
            }
        }
    }

    .sh-block-collapse {
        &.collapse:not(.show) {
            display: block;
            height: 9rem;
            overflow: hidden;
        }

        &.collapsing {
            height: 9rem;
        }
    }

}

