footer {
    li,
    a {
        white-space: nowrap;
        @include set-color('white');

        &:hover {
            @include set-color('white');
        }

        &.sh-green-light {
            @include set-color('green-light');

            &:hover {
                @include set-color('green-light');
            }
        }
    }

    .sh-footer-list-stack {
        li {
            width: 100%;
            text-align: center;
            border-right: 0px;

            @include wrap-media-min('md') {
                width: auto;
                border-right: 1px solid $clr-white;
            }
        }
    }

    img {
        max-width: 15rem;
    }
}
