header {
    > div.sh-home-header {
        height: 22rem;

        .sh-home-search input{
            font-size: 1.2rem;
        }
    }
    > div.sh-header {
        height: 20rem;

        @include wrap-media-min('md') {
            background-size: 100%;
            height: 17rem;
        }

        @include wrap-media-min('lg') {
            height: 15rem;
        }
    }
    > div {
        background: linear-gradient(0deg, rgba(24, 69, 59, 0.4), rgba(24, 69, 59, 0.4)), url('/static/images/header.jpg');
        background-repeat: no-repeat;
        background-position: 0% 37%;
        background-size: cover;

        .sh-heading-link a {
            color: $clr-green-msu;
            text-decoration: none !important;
            &:hover {
                color: $clr-green;
            }

        }

        .sh-search-input {
            background: $clr-white;
			padding-left: 1rem;
			padding-right: 1rem;
            @include set-borders($clr-white, 0, .3rem, 0, 0, .3rem);
			&:focus {
				box-shadow: none;
			}
			&:placeholder-shown  ~ .sh-close-icon {
				display: none;
			}
			&:not(:placeholder-shown) ~ div > .sh-search-btn {
				background: $clr-green-msu;
				color: $clr-white;
				&:hover, &:focus {
					background: $clr-green;
				}
			}

        }
        .sh-close-icon {
			display: inline-block;
			vertical-align: middle;
			outline: 0;
			cursor: pointer;
			padding: 0;
			background: $clr-white;
			border: none;
			font-size: 150%;
			&:after {
				content: "×";
				padding-right: 1rem;
				color: $clr-gray-dark;
				cursor: pointer;
				}
	        }

        .sh-search-btn {
            background: $clr-white;
			color: $clr-green-msu;
			font-size: 110%;
            @include set-borders($clr-white, 0, 0, .3rem, .3rem, 0);
			&:focus, &:hover {
				box-shadow: none;
				background: $clr-green;
				color: $clr-white;
			}
        }


        .sh-heading-divider {
            @include wrap-media-min('md') {
                border-right :0.2rem solid $clr-green-msu;
            }
        }
    }
}

.sh-nav-item a {
    color: $clr-green-msu;
    @include set-font-size('lg');
    &:hover {
         text-decoration: underline;
    }
}
