
.sh-browse-link {
    &:hover {
        text-decoration: none;
        background-color: $clr-gray-hover;
        border-radius: 0.3rem;

        .sh-icon-browse {
            color: $clr-green;
        }

        span {
            color: $clr-green;
        }
    }
}

.sh-collection-link {
    &:hover {
        text-decoration: none;
        span, h2 {
            color: $clr-green;
        }
    }

    span, h2 {
        color: $clr-green-msu;
    }
}

.sh-collection-image {
    max-width: 12.5rem;
}
