/* Dropdown buttons - Start */

.sh-button-dropdown {    
    background-color: $clr-white; 
    font-size: 1.1rem;
    img {
        height: 1.25rem;
        margin-bottom:.15rem;
    }
    &:hover {
        background-color: $clr-gray;
        border-radius:0.5rem;
    } 
}

.sh-button-dropdown-link {
    background-color: $clr-gray-light;
    a {
        color: $clr-gray;
        &:hover {
            text-decoration: none;
        }
    }
}


/* Dropdown buttons - End */


