@import 'variables';

//
//
//
@function get-color($clr) {
  @if map-has-key($colors, $clr) {
    @return map-get($colors, $clr);
  } @else {
    @error "ERROR: Specified index does not exist in the mapping";
  }  

}  

//
//
//
@function get-font($utility-class) {
  $index: str-index($utility-class,"-");
  $size: str-slice($utility-class, $index+1);
  @if map-has-key($fonts, $size) {
    @return map-get($fonts, $size);
  } @else {
    @error "ERROR: Specified index does not exist in the mapping";
  }  

}  


// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
//    >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    576px
@function breakpoint-min($name) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}
