// We use variables when we're only working with a single property or line of code
// syntax example
$clr-purple-dark: #9b0086;
$clr-purple: #f1e7fe;
$clr-green-msu: #18453B;
$clr-gray-dark: #333333;
$clr-gray: #e3e3e3;
$clr-white: #ffffff;

// We use maps to create mixins when mixins let us replace several lines of code with one in the .scss file
// syntax example
// As of 11-18 we are checking whether there's another way to confirm that variables exist and whether we still need maps
$colors: (
  "purple-dark": $clr-purple-dark,
  "purple": $clr-purple,
  "green-msu": $clr-green-msu,
  "gray-dark": $clr-gray-dark,
  "gray": $clr-gray,
  "white": $clr-white,
);

// this is using the map to define variables so we only have to update in one place
//@each $key, $value in $colors {
//
//}

// we use maps in [x,y,z,] cases because they allow us to debug invalid font sizes
// syntax example
$fonts: (
  "h1": 2.3rem,
  "h2": 2.0rem,
  "btn": 1.1rem,
  "xs": 0.6rem,
  "sm": 0.8rem,
  "md": 1.0rem,
  "lg": 1.2rem,
  "xl": 2.5rem,
);

