[Unit]
Description=Sandhill docker application stack
After=docker.service

[Service]
Type=simple
WorkingDirectory=/home/deploy/sandhill
ExecStart=/usr/bin/docker-compose -f /home/deploy/sandhill/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /home/deploy/sandhill/docker-compose.yml down
ExecReload=/usr/bin/docker-compose -f /home/deploy/sandhill/docker-compose.yml up
Restart=on-error
RestartSec=180
StartLimitInterval=550
StartLimitBurst=3
[Install]
WantedBy=multi-user.target
