<div>
    <iframe id="pdf-js-viewer" src="{{ url_for('static', filename='repo_pdfjs') }}/web/viewer.html?file={{ item['PID'] | generate_datastream_url("OBJ") }}" title="webviewer" frameborder="0" width="500" height="600"></iframe>
</div>
