 {% block plugin_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js" integrity="sha512-4ze/a9/4jqu+tX9dfOqJYSvyYd5M6qum/3HpCLr+/Jqf0whc37VUbkpNGHR7/8pSnCFw47T1fmIpwBV7UySh3g==" crossorigin="anonymous"></script>
 {% endblock %}

<div id="sandhill_pdf_viewer"></div>
<script>
    var options = {
                pdfOpenParams: {
                    view: 'FitH'
                }
            };
    PDFObject.embed("{{ item['PID'] | generate_datastream_url("OBJ") }}", "#sandhill_pdf_viewer", options);
</script>


