<div class="w-100">
    <!-- TODO pull the embargo field from the config -->
    {% if restriction %}
        <img class="border rounded img-fluid w-100"
            src="{{ item['PID'] | generate_datastream_url("PREVIEW") }}"
            alt="{{ item[metadata_conf['title_field']] }}"/>

    {% else %}
        <a href="{{ item['PID'] | generate_datastream_url }}">
            <img class="border rounded img-fluid w-100"
                src="{{ item['PID'] | generate_datastream_url("PREVIEW") }}"
                alt="{{ item[metadata_conf['title_field']] }}"/>
        </a>

    {% endif %}
</div>

