<p class="alert shbackground-purple-light">This item is not available to view or download
    {%- set end_date = item.embargo_end_date_ss | first | format_date -%}
    {% if (end_date != "Indefinite") %} 
        until {{ end_date }}
    {%- endif -%}. 
    To request a copy, contact <a href="mailto:ill@lib.msu.edu">ill@lib.msu.edu</a></p>
{% include 'media_display/preview.html.j2' %}
